* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #282c34;
  font-size: 1rem;
  color: white;
  padding: 0 2rem;
  height: 60px;
  z-index: 11;
  position: absolute;
  left: 0;
  right: 0;
}

.input-group {
  display: flex;
}

.input {
  width: 12rem;
  height: 25px;
}

.message-text {
  padding: 0 1.25rem;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 20;
  top: 365px;
  left: 1.25rem;
  min-width: 400px;
  font-size: 1.6rem;
  font-weight: 700;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
}

.username {
  color: orange;
  margin-bottom: 8px;
  margin-right: 0.6rem;
  display: inline-block;
}

.text {
  display: inline-block;
}

.gift-icon {
  width: 40px;
  height: 40px;
  position: relative;
  top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.legend {
  position: absolute;
  top: 250px;
  right: 15px;
  display: flex;
  flex-direction: column;
}

.offer {
  color: white;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.symbol {
  color: orange;
}

.meta {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.playBtn {
  position: absolute;
  top: 30px;
  left: 50px;
  background-color: orange;
  z-index: 20;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  padding: 4px 10px;
  cursor: pointer;
}

.greeting {
  position: absolute;
  top: 210px;
  left: 15px;
  color: orange;
  font-size: 1.5rem;
}

.waitlist {
  position: absolute;
  top: 250px;
  left: 15px;
}

.waitlist .label {
  color: white;
  font-size: 1.5rem;
}

.waitlist .count {
  display: inline-block;
  margin-left: 10px;
  color: orange;
  font-size: 1.5rem;
}

.metric {
  margin-right: 1rem;
}

.main {
  /* padding-top: 70px;
  height: 100vh; */
}

.lists {
  display: flex;
  z-index: 11;
  color: white;
  position: absolute;
  top: 70px;
  bottom: 50px;
  left: 0;
  right: 0;
}

.chats-container,
.gifts-container {
  height: 100%;
  padding: 1rem;
}
